@charset "utf-8";
/* CSS Document */

#fly {
background-image: url(media/graphics/alive.png);
width: 200px;
height: 200px;
background-repeat: no-repeat;
}


.fly {
background-image: url(media/graphics/alive.png);
width: 200px;
height: 200px;
background-repeat: no-repeat;
}